.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 120px;
    /* position: absolute; */
}

.card-image{
    width: 300px;
    height: auto;
    background-color: black;
    margin: auto;

    
}

.card-image img{
    width: 300px;
    height: auto;
    object-fit: cover;
}
.card-image p{
    color: white;
    margin-left: 10px;
}